<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTHENTICATE</title>
</head>
<body>
    <% if (locals.user) { %>
        <h1>WELCOME BACK <%= user.username %>!</h1>
        <a href="/log-out">LOG OUT</a>
    <% } else { %>
        <h1>HELLO HUMANS!</h1>
        <a href="/sign-up">SIGN UP IF YOU PLEASE</a>

        <h2>LOGIN IF YOU HAVE ASSENTED</h2>
        <form action="/log-in" method="POST">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="Username">

            <label for="password">Password: </label>
            <input type="password" name="password" id="password">

            <button type="submit">LOG IN</button>
        </form>
    <% } %>
</body>
</html>